
@font-face{
    font-family:'LexendPeta-Regular';
    src:url(../fonts/LexendPeta-Regular.ttf);
}
a{
    text-decoration: none;
}
*{
    margin:0;
    font-family:'LexendPeta-Regular';
}

h2{
    padding: 20px;
    text-align: center;
    border-bottom: 1px solid red;
    width: 50%;
    margin: 0 auto;
}
h3{
    padding: 10px 0 10px;
    text-align: center;
}
.header{
    display: flex;
    border-bottom: 1px solid red;
}
.navbar {  
    list-style: none;
    display: flex;
}
.logo {
    width: 150px;
    height: 150px;
    background-image: url(../Images/8.png);
    background-size: cover;
}
.navbar_menu li{
    list-style: none;
    display: flex;
}

.section {
    
}
.section_algoritm {
}
.algo {
    list-style: none;
    display:flex;
    flex-wrap: wrap;
}
.algo_num{
    border: 1px solid red;
    min-width: 100px;
    min-height: 100px;
    padding: 10px;
    border-radius: 20px;
}
.algo_num:hover{
    transform: scale(1.08);
    background-color: red;
}
.algo_li{

}
.section_about {
}
.aim {
    text-align: center;
}
.deviz {
    text-align: center;
    padding: 10px;
}
.otziv {
    display:flex;
    justify-content: space-between;
    gap: 10px;
}
.otziv_pr {
    border: 1px solid red;
    border-radius: 10px;
    gap: 20px;
    margin-top: 20px;
    min-height: 300 px;
}
.section_search {
  
}
.search {
    padding: 20px;
}
.search_region {
}
.search_button {
    width: 150px;
    height: 20px;
    border: 1px solid red;
    background-color: red;
    color:white;
}
.button {
    width: 150px;
    height: 20px;
    border: 1px solid red;
    display: block;
    text-align: center;
    background-color: red;
}
.section_button {
}
.Promotion {
}
.podpiska {
    display: flex;
    width:fit-content;
    margin: 0 auto;
    gap: 20px;
    padding-bottom: 30px;
    padding-top: 30px;

}
.footer {
    display: flex;
}
.footer_nav {
    list-style: none;
    color: black;
    display: flex;
    gap: 20px;
    padding: ;
}
